# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyo
.Python
env/
venv/
myvenv/
__pycache__/
*.swp
*.swo
*.DS_Store
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

# Node.js
node_modules/
dist/
build/
npm-debug.log
yarn-error.log

# VSCode
.vscode/

# Environment Variables
.env
